CORE_REDIS_PASS="<core_redis_pass>"
ORCH_REDIS_PASS="<orch_redis_pass>"
GUARDIAN_REDIS_PASS="<guardian_redis_pass>"
NODE5_PUBKEY="<node5_pubkey>"
NODE6_PUBKEY="<node6_pubkey>"
TELEGRAM_BOT_TOKEN="<telegram_bot_token>"
TELEGRAM_CHAT_ID_ALERTS="<telegram_chat_id_alerts>"
