[Unit]
Description=teqlif MinIO Mirror Backup
After=network.target wg-quick@wg0.service

[Service]
Type=oneshot
User=tucibeyin
ExecStart=/var/www/teqlif.com/deploy/scale/V2.1/node2/resources/scripts/minio_backup.sh
StandardOutput=journal
StandardError=journal
