[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User=tucibeyin
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address="10.10.0.5:9100" \
  --collector.systemd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
