[Unit]
Description=Prometheus PostgreSQL Exporter
After=network.target

[Service]
User=tucibeyin
EnvironmentFile=/etc/teqlif/.env.production
ExecStart=/usr/local/bin/postgres_exporter \
  --web.listen-address="10.10.0.5:9187"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
