[Unit]
Description=Alertmanager
After=network.target prometheus.service

[Service]
Type=simple
User=tucibeyin
EnvironmentFile=/var/www/teqlif.com/deploy/scale/resources/gateway/.env.gateway.production
ExecStart=/usr/local/bin/alertmanager \
    --config.file=/etc/alertmanager/alertmanager.yml \
    --config.expand-env \
    --storage.path=/var/lib/alertmanager
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
