[Unit]
Description=Loki service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/loki -config.file /etc/loki/config.yml
TimeoutSec=120
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
