[Unit]
Description=PostgreSQL Prometheus Exporter
After=postgresql.service

[Service]
Type=simple
User=tucibeyin
Environment=DATA_SOURCE_NAME=postgresql://teqlif@127.0.0.1:5432/teqlif?sslmode=disable
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=10.10.0.1:9187
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
