[Unit]
Description=Loki — teqlif
After=network.target

[Service]
User=tucibeyin
ExecStart=/usr/local/bin/loki \
  --config.file=/var/www/teqlif.com/deploy/scale/V2.1/nodeMonitor/config/teqlif/loki.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
