[Unit]
Description=Redis Staging
After=network.target

[Service]
User=redis
ExecStart=/usr/bin/redis-server /etc/redis/redis-staging.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
