[Unit]
Description=Teqlif Redis Orch (port 6380)
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=notify
ExecStart=/usr/bin/redis-server /etc/redis/redis-orch.conf
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=0
Restart=always
RestartSec=5
User=redis
Group=redis
RuntimeDirectory=redis-orch
RuntimeDirectoryMode=2755
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
