<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Teqlif Live</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>

<body>

    <header>
        <a href="/" class="logo">TEQLIF<span>LIVE</span></a>

        <div class="nav-actions">
            {% if user %}
            <span class="user-welcome"><i class="fa-solid fa-user-circle"></i> {{ user.username }}</span>
            <a href="/logout" class="nav-btn-text">Çıkış</a>
            {% else %}
            <a href="/login" class="nav-btn-text">Giriş Yap</a>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="/" class="active"><i class="fa-solid fa-house"></i></a>
        <a href="/live?mode=watch"><i class="fa-solid fa-compass"></i></a>
        {% if user %}
        <a href="#"><i class="fa-solid fa-user"></i></a>
        {% else %}
        <a href="/login"><i class="fa-regular fa-user"></i></a>
        {% endif %}
    </footer>

    {% block scripts %}{% endblock %}
</body>

</html>