[Unit]
Description=Daily ClickHouse backup

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
RandomizedDelaySec=120
Persistent=true

[Install]
WantedBy=timers.target
