[Unit]
Description=Teqlif ClickHouse Backup
After=network.target

[Service]
User=tucibeyin
EnvironmentFile=/etc/teqlif/.env.production
ExecStart=/opt/teqlif/scripts/clickhouse_backup.sh
Type=oneshot
StandardOutput=append:/var/log/teqlif/clickhouse_backup.log
StandardError=append:/var/log/teqlif/clickhouse_backup.log

[Install]
WantedBy=multi-user.target
