[Unit]
Description=MinIO Object Storage
After=network.target
AssertFileIsExecutable=/usr/local/bin/minio

[Service]
User=tucibeyin
Group=tucibeyin
EnvironmentFile=/etc/teqlif/.env.production
Environment=GOMEMLIMIT=2GiB
Environment=GOGC=100
Environment=MINIO_API_REQUESTS_MAX=200
Environment=MINIO_API_REQUESTS_DEADLINE=30s
Environment=MINIO_SERVER_URL=https://uploads.teqlif.com
ExecStart=/usr/local/bin/minio server ${MINIO_VOLUMES} \
  --address "0.0.0.0:9000" \
  --console-address "127.0.0.1:9001"
Restart=always
RestartSec=5
LimitNOFILE=65535
StandardOutput=append:/var/log/teqlif/minio/minio.log
StandardError=append:/var/log/teqlif/minio/minio-error.log

[Install]
WantedBy=multi-user.target
